.App {
    display: grid;
    margin: auto;
    position: relative;
}

@media screen and (min-width: 768px) {
    .App {
        grid-template-columns: 1fr 1fr;
    }
    .description {
        display: flex;
        gap: 1em;
        margin: 2em;
        flex-direction: column;
        justify-content: center;
    }
    .description > * {
        margin: 1em 0 0 0;
    }
    .description > p {
        margin: 0;
    }
}
