body {
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 80%);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: hsl(0, 0%, 60%);
}
canvas {
    width: 100%;
    height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 { 
    text-align: center;
}
.shell {
    margin: auto;
}
@media screen and (min-width: 1440px) {
    .shell {
        width: 1440px;
    }
}